<!DOCTYPE html>
<html>
  <head>
    <script src="/javascripts/jquery.min.js"></script>
  </head>
  <body>
  <label>
    id：
    <input type="number" id="id"/>
  </label>
  <label>
    用户名：
    <input type="text" id="user"/>
    </label>
  <label>
    密码：
    <input type="password" id="pass"/>
  </label>
  <label>
    年龄：
    <input type="number" id="age"/>
  </label>
    <button id="zc">注册</button>
  <h1>如果已有账号，请点击<a href="/reg.ejs">登录</a></h1>
  </body>
<script src="/javascripts/main.js"></script>
</html>
