<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
</head>
<body>
<label>
  id:
    <input type="text" id="id"/>
    </label>
<label>
    密码：
    <input type="password" id="pass"/>
</label>
<button id="button">登录</button>
<div id="container"></div>
</body>
<script src="/javascripts/reg.js"></script>
</html>